$font-family-default: Arial, sans-serif;
$navbar-color: #333;
$link-color: white;
$hover-color: #555;
$link-bg: #4d5154;
$link-hover-bg: #a9c5e3;
$link-padding: 15px 30px;
$link-margin: 0 15px;
$component-border-color: 1px solid #545252;
$footer-color: #333;
$footer-text-color: rgb(150, 170, 170);
$hover-scale-factor: 1.1;
$bg-color: rgb(153, 145, 145);
$text-color:rgb(58, 58, 86);
$form-background: #958a8a;
$label-color: #333;
$submit-bg: #232629;
$columns: 3;
$column-width: 300px;
$gutter-width: 20px;
$footer-background: #635c5c;
$footer-text-color: #fff;
$footer-link-color: #a9c5e3;
$footer-hover-color: #fff;